body.tutorial {
  height: 100vh;
  overflow: hidden;
}

.slide-area {
  position: fixed;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 2; /* acima do overlay */
}

.slide-container {
  width: 90vw;      /* ocupa 90% da largura da tela */
  height: 85vh;     /* ocupa 85% da altura da tela */

  display: flex;
  align-items: center;
  justify-content: center;

  background: none; /* REMOVE o fundo escuro */
  border-radius: 0; /* REMOVE arredondamento */

  box-shadow: none; /* REMOVE sombra */
}


/* imagem e vídeo */
.slide-container img,
.slide-container video {
  width: 100%;
  height: 100%;

  object-fit: contain; /* mantém proporção */
  border-radius: 0;    /* sem cantos arredondados */
}




/* Botão igual ao menu */
.next-btn {
  position: fixed;
  right: 24px;
  bottom: 24px;

  width: 260px;
  height: 68px;

  background-color: #9486ff;
  border: none;

  box-shadow: 0 10px 26px rgba(186, 176, 255, 0.4);

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;

  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  z-index: 5;
}

.next-btn:hover {
  transform: scale(1.06);
  box-shadow: 0 14px 34px rgba(111, 92, 255, 0.55);
}

.next-btn:active {
  transform: scale(1.02);
}
